#gradient {
    background-image: transparent;
    color: white;
}

#gradient:hover {
    background-image: url(../assets/gradient-card-background.svg);
    background-size: 300% 300%;
    background-repeat: repeat;
    animation: Animation 0.75s ease-out;
    transition: ease 1s;
    color: black;
}

@keyframes Animation {
    0% {
        background-position: 10% 20%;
    }
    50% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 50% 80%;
    }
}
